@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    cursor: url("@images/icons/pointer.svg"), auto;
}
body{
    background-color: #F0F0F3;
}

.container {
    padding: 0 15px;
}

.router-link-active{
    color: #ffffff;
    font-weight: bold;
}
@media (min-width: 767.98px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1023.98px){
    .container {
        max-width: 980px;
    }
}

@media (min-width: 1279.98px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1535.98px){
    .container {
        max-width: 1440px;
    }
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('../assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Bold.woff') format('woff'),
    url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../assets/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Semibold.woff') format('woff'),
    url('../assets/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Medium.woff') format('woff'),
    url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


