@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor: url("@images/icons/pointer.svg"), auto;
}
body{
    background-color: #F0F0F3;
}

.container {
    padding: 0 15px;
}

.router-link-exact-active{
    color: #ffffff;
    font-weight: bold;
}
@media (min-width: 767.98px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1023.98px){
    .container {
        max-width: 980px;
    }
}

@media (min-width: 1279.98px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1535.98px){
    .container {
        max-width: 1440px;
    }
}



