@import url('fonts.css');
@import "./cursors.css";
@import "container.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F0F0F3;
}

.router-link-exact-active{
    color: #ffffff;
    font-weight: bold;
}




